/* General Styles */
*{
    font-family: 'Lora';
  }
  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-image: url(login-bg.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .back{
      position: absolute;
      top: 20px;
      left: 20px;
      background-color: #007bff; /* Or any color you like */
      color: #fff;
      border: none;
      font-weight: 600;
      padding:5px 10px;
      border-radius: 10px;
      text-decoration: none; /* Remove underline from link */
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    }
    
  
  
    /* Login Container */
    .login-container {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 100%;
      max-width: 600px;
    }
    
    /* Login Box */
    .login-box {
      text-align: center;
    }
    
    .login-box h2 {
      margin-bottom: 20px;
      color: #6a53df;
      letter-spacing: 2px;
      font-weight: 900;
    }
    
    /* Input Groups */
    .input-group {
      margin-bottom: 15px;
      text-align: left;
    }
    
    .input-group label {
      display: block;
      margin-bottom: 5px;
      color: #000000;
      letter-spacing: 0.5px;
    }
    
    .input-group input {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
    }
    
    .input-group input:focus {
      border-color: #007bff;
      outline: none;
    }
    
    /* Login Button */
    .login-button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .login-button:hover {
      background-color: #0056b3;
    }
    
    /* Signup Link */
    .signup-link {
      margin-top: 15px;
      font-size: 14px;
      color: #555;
    }
    
    .signup-link a {
      color: #007bff;
      text-decoration: none;
    }
    
    .signup-link a:hover {
      text-decoration: underline;
    }